.products{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 10px;
}
.product-description{
    margin-left: 40px ;
}
.product-description h3{
    color: blue;
    font-weight: 400;
}
.cart-btn{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    background-color: goldenrod;
    border-radius: 7px;
    font-weight: 900;
    color: black;
    margin-bottom: 3%;
    cursor: pointer;
}